:root {
	--color-accent: #1185fe;
	--color-neutral: oklch(50% 0.01 220);
}

html {
	font:
		1rem/1.5 ui-sans-serif,
		system-ui,
		sans-serif;

	accent-color: var(--color-accent);
}

a {
	color: var(--color-accent);

	&:not(:hover, :focus) {
		text-decoration: none;
	}
}

body {
	margin: 0;
	padding: 2rem;
}

header {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.25rem 1rem;
	margin-bottom: 2rem;
}

h1,
h2 {
	line-height: 1.15;
	text-wrap: balance;
}

h1,
.logo {
	font-size: calc(200% + 1vw);
	color: var(--color-accent);
	margin: 0;
}

.logo {
	grid-row: 1 / 3;
	height: 1.5em;
	margin-top: 0.15em;
}

h2 {
	font-size: 200%;
}

input,
button {
	font: inherit;
}

form {
	align-items: end;
}

form,
label {
	display: flex;
	gap: 0.5rem;

	label:has(#url),
	#url {
		flex: 1;
	}

	label {
		gap: 0;
		flex-flow: column;
		font-size: 80%;

		input {
			font-size: 125%;
		}
	}
}

footer {
	margin-top: 2rem;
	font-size: 70%;
	color: var(--color-neutral);
	font-weight: 500;
}
